<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:include filename="inertial_macros.xacro"/>
    
    <!-- ANGLING BRACKETS -->
    <!-- SET 1 -->
    <joint name="tower_left_bracket" type="fixed">
        <parent link="tower_top"/>
        <child link="tower_top_left"/>
        <origin xyz="0.03 0.1375 0.435"/>
    </joint>

    <link name="tower_top_left">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    
    <gazebo reference="tower_left_bracket">
        <material>Gazebo/Orange</material>
    </gazebo>
    
    
    <joint name="tower_right_bracket" type="fixed">
        <parent link="tower_top"/>
        <child link="tower_top_right"/>
        <origin xyz="0.03 0.1125 0.435"/>
    </joint>

    <link name="tower_top_right">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    <gazebo reference="tower_right_bracket">
        <material>Gazebo/Orange</material>
    </gazebo>
    
    
    
    <!-- SET 2 -->
    <joint name="tower_left_bracket2" type="fixed">
        <parent link="tower_top"/>
        <child link="tower_top_left2"/>
        <origin xyz="0.03 -0.1375 0.435"/>
    </joint>

    <link name="tower_top_left2">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    <gazebo reference="tower_left_bracket2">
        <material>Gazebo/Orange</material>
    </gazebo>   
    
    
    <joint name="tower_right_bracket2" type="fixed">
        <parent link="tower_top"/>
        <child link="tower_top_right2"/>
        <origin xyz="0.03 -0.1125 0.435"/>
    </joint>

    <link name="tower_top_right2">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    
    <gazebo reference="tower_right_bracket2">
        <material>Gazebo/Orange</material>
    </gazebo>
    
    
 
    
    <!-- ANGLING BRACKETS -->
    <!-- SET 3 -->
    <joint name="act_left_bracket" type="fixed">
        <parent link="lifting_left_link"/>
        <child link="act_left"/>
        <origin xyz="0.1 0.0125 -0.0055"/>
    </joint>

    <link name="act_left">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    
    <gazebo reference="act_left_bracket">
        <material>Gazebo/Orange</material>
    </gazebo>
    
    
    <joint name="act_right_bracket" type="fixed">
        <parent link="lifting_left_link"/>
        <child link="act_right"/>
        <origin xyz="0.1 -0.0125 -0.0055"/>
    </joint>

    <link name="act_right">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    <gazebo reference="act_right_bracket">
        <material>Gazebo/Orange</material>
    </gazebo>
    
    
    
    <!-- SET 4 -->
    <joint name="act_left_bracket2" type="fixed">
        <parent link="lifting_right_link"/>
        <child link="act_left2"/>
        <origin xyz="0.1 0.0125 -0.0055"/>
    </joint>

    <link name="act_left2">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    <gazebo reference="act_left_bracket2">
        <material>Gazebo/Orange</material>
    </gazebo>   
    
    
    <joint name="act_right_bracket2" type="fixed">
        <parent link="lifting_right_link"/>
        <child link="act_right2"/>
        <origin xyz="0.1 -0.0125 -0.0055"/>
    </joint>

    <link name="act_right2">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    
    <gazebo reference="act_right_bracket2">
        <material>Gazebo/Orange</material>
    </gazebo>


    <!-- ANGLING BRACKETS -->
    <!-- SET 5 -->
    <joint name="bottom_left_bracket" type="fixed">
        <parent link="arm_link"/>
        <child link="bottom_left"/>
        <origin xyz="0 0.0125 0.02"/>
    </joint>

    <link name="bottom_left">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.025"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.025"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.025">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    
    <gazebo reference="bottom_left_bracket">
        <material>Gazebo/Orange</material>
    </gazebo>
    
    
    
    <joint name="bottom_right_bracket" type="fixed">
        <parent link="arm_link"/>
        <child link="bottom_right"/>
        <origin xyz="0 -0.0125 0.02"/>
    </joint>

    <link name="bottom_right">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.025"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.025"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.025">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    
    <gazebo reference="bottom_right_bracket">
        <material>Gazebo/Orange</material>
    </gazebo>


    <!-- SET 6 -->
    <joint name="tilt_left_bracket" type="fixed">
        <parent link="tilting_link"/>
        <child link="tilt_left"/>
        <origin xyz="0.1 0.0125 0"/>
    </joint>

    <link name="tilt_left">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    <gazebo reference="tilt_left">
        <material>Gazebo/Orange</material>
    </gazebo>   
    
    
    <joint name="tilt_right_bracket" type="fixed">
        <parent link="tilting_link"/>
        <child link="tilt_right"/>
        <origin xyz="0.1 -0.0125 0"/>
    </joint>

    <link name="tilt_right">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.005 0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.02" y="0.005" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    
    <gazebo reference="tilt_right">
        <material>Gazebo/Orange</material>
    </gazebo>
    


</robot>
